/* line 7, ../sass/app.scss */
.clearFix {
  clear: both;
}

/* line 11, ../sass/app.scss */
body {
  width: 100%;
  margin: 0 auto;
}

/* line 16, ../sass/app.scss */
p {
  color: grey;
  font-size: 12px;
}

/* line 21, ../sass/app.scss */
a {
  color: white;
  font-size: 12px;
}

/* line 26, ../sass/app.scss */
li {
  margin-left: -15px;
  color: grey;
  font-size: 12px;
}

/* line 32, ../sass/app.scss */
footer {
  width: 100%;
  font-size: 12px;
}

/* line 37, ../sass/app.scss */
.footer-top-container {
  min-height: 400px;
  background-color: #222;
  text-align: center;
}

/* line 43, ../sass/app.scss */
.single-footer-top {
  float: left;
  text-align: justify;
  display: block;
  width: 300px;
}

/* line 50, ../sass/app.scss */
.footer-bottom {
  display: block;
}
