$font-text: arial;
$text-color: grey;
$text-size: 12px;
$bg-color: #222;

.clearFix {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.center-text {
    text-align: center;
}

.center {
	margin: 0 auto;
}

body {
    width : 100%;
    margin: 0 auto;
}

p {
    color: $text-color;
    font-size: $text-size;
}

a {
    color: white;
    font-size: $text-size;
}

ul {
    padding-left: 0;
    list-style-type: none;
}

li {
    color: $text-color;
    font-size: $text-size;
}

footer {
    width: 100%;
    font-size: $text-size;
}

.footer-top-bg {
    height: 100%;
    background-color: $bg-color;
}

.single-footer-top-container {
	min-height: 350px;
}

.single-footer-top {
    text-align: justify;
    width: 200px;
    padding: 10px;
}

.footer-bottom {
    display: block;
    height: 70px;
}