aside{
	position: relative;
	display: block;
	width: 350px; /* TEST */
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	margin: 0;
	padding: 0;
	div{
		margin: 20px 0px;
	}
	h2{
		width: 100%;
		background: url("../images/title_bg.png") repeat top left;
		font-weight: normal;
		font-style: italic;
		font-family: Georgia, serif;
		font-size: 12px;
		margin-bottom: 10px;
		span{
			padding-right: 45px;
			background: #ffffff;
			line-height: 15px;
		}
	}
	input{
		width: 92%;
		padding: 10px;
	}
	img{
		width: 100%;
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			width: 100%;
			position: relative;
			display: block;
			line-height: 18px;
			font-size: 14px;
			margin-right: 8px;
			border-bottom: 1px solid #dddddd;
			padding: 10px 0px;
			a{
				text-decoration: none;
				color: #000000;
				&:hover{
					color: #e47600;
				}
			}
		}
	}
}
